header {
    padding: 1% 13%;
}

header {
    display: block;
    background: #003d63;
    padding: 1% 12%;
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
}
footer {
    bottom: 0;
}
footer {
    background-color: #021523;
    text-align: center;
    color: white;
    padding: 16px 0;
    font-size: 14px;
    position: relative;
    bottom: -20px;
}

/*25 sept 19:35 */


li.new-joinee-open span.icon-oet{padding-left: 5px;padding-right: 10px;}.icon-oet:before {content:"\e930";position: relative;top: 5px;font-size:25px;}li.new-joinee-open .col-sm-2:hover .icon-oet:before {content:"\e930";}.js-callout-closeButton{width:25px;height:25px}.ms-contextmenu-box.ms-js-contextmenu ul li.ms-contextmenu-item {padding: 0;}.ms-contextmenu-box.ms-js-contextmenu ul li.ms-contextmenu-item a {margin: 0;}li.guide + div[role="tooltip"]{width:180px}#spSearchBox {width: 100%;border: 0px;padding: 7px;font-family: 'Open Sans', sans-serif;font-size: 12px;border: solid 1px #e1e1e1;border-radius: 4px;}#searchImg {left: -51px;top: 0;position: absolute;}a#aSearchLink {position: absolute;right: 5px;top: 2px;color: #98989a;padding: 10px;height: 30px;width: 30px;overflow: hidden;background-color: #fff;}.mn-header.row {position: absolute;top: 0;margin: 0;}#dvContainer {margin-top: 0px !important;min-height: 440px;}#menu li.hover,#menu li.hover-off {position: static;}span#DeltaPlaceHolderPageTitleInTitleArea {padding: 1% 13%;}li.guide{border-bottom: 0px;padding: 3px !important;}.m-sprite-1{background-image:url('https://mastekgroup.sharepoint.com/_catalogs/masterpage/Masteknet/images/img-sprite-1.png');background-repeat:no-repeat;display:inline-block;}.m-sprite-1.help_icon{width:30px;height:33px;background-position:-10px -10px;}.sticky ul li.feedback, .sticky ul li.feedback:hover {border-bottom: 1px solid #0098d1;padding: 2px 0;font-size: 25px;}span.feedbackIcon:before{content:"\f118";font-family:fontawesome;color: #f7d117;}.m-sprite-1.help_icon {width: 30px;height: 33px;background-position: -10px -10px;}.m-sprite-1 {background-image: url(https://mastekgroup.sharepoint.com/_catalogs/masterpage/Masteknet/images/img-sprite-1.png);background-repeat: no-repeat;display: inline-block;}.icon-male-user {padding: 0px 0 0 6px;}#list-data ul li {margin: 0 0 15px 5px;}#searchImg {left: -55px;top: 0;position: absolute;}#spSearchBox {padding: 7px 12px;height: 36px;}a.icon-bell span {background-color: #cc3300;font-family: 'Open Sans',sans-serif;}.ui-widget.ui-widget-content {z-index: 999999;}.ui-menu .ui-menu-item {margin: 5px;}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{background-color:#e6f2fb;border-color:#00a6d6;color:#333}li#searchTagPrompt {margin: 8px;}

/*11 sept*/

 .tis {margin-bottom: 10px;padding-bottom: 10px;}.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:8px}.innerpage-right {padding-right: 15px;}.innerpage-right ul{padding: 10px;margin: 0;}footer {bottom:0}.tis p {padding: 15px;}.flex-container {display: flex;flex-wrap: nowrap;}.flex-container > div:first-child {background-color: #fff;width: 64%;margin: 10px 5px 0 0;border: solid 1px #ccc;padding: 10px;;}.flex-container > div:last-child {background-color: #fff;width: 36%;margin: 10px 0 0 5px;border: solid 1px #ccc;padding: 10px;}#parentHorizontalTab{margin-top:10px !important}
 
 @media screen and (max-width: 800px) {.tis h3, .innerpage-right h3 {padding: 10px 0 !important;}h2.resp-accordion{margin-bottom: 5px;}.resp-tab-content {margin-bottom: 5px;}.innerpage-right h3 {margin-left:15px}.innerpage-right ul {padding:0 !important}.innerpage-right ul {margin: 10px 20px 0;}.flex-container {display: block;}.flex-container > div:first-child, .flex-container > div:last-child {width:100%;margin: 10px 0px 0px 0px;} }@media (max-width:768px) {#dvContainer {margin-top: 0px !important;}.s4-notdlg{margin-top:60px !important}.sticky ul li.feedback, .sticky ul li.feedback:hover {padding: 14px 10px !important;}span.feedbackIcon:before{color:#fff}#ms-designer-ribbon{display:none !important}}@media screen and (max-width:640px) {.mn-header {height: 51px !important;}}
 
 .resp-tabs-list li {border-left: solid 1px #ddd;border-top: solid 1px #ddd;border-right: 2px solid #dcdcdc;    }
 
 /*29 oct */
 
 
/*#dvContainer.dvContainer-custom-sites div#contentBox {overflow:scroll}*/
